<div class="container-fluid">
    <div class="row">

      <div class="col-lg-9 pb-4">
        <div class="card  bg-dark text-light">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">World</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Term of Use</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact Us</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="card-body text-center">
                <h4 class="card-title">Welcome to Your World</h4>
                <p class="card-text">With supporting your world, you also give us miracle. Because this is our world.</p>
                <hr>
                <div class="d-flex justify-content-center">
                  <img class="p-2 rounded-circle" src="http://bowshrine.com/wp-content/uploads/2016/01/manny-the-cat-selfie-with-gopro-8-200x200.jpg" alt="Card image cap">
                  <img class="p-2 rounded-circle" src="https://www.dogalize.com/wp-content/uploads/2017/07/happy-cat-200x200.jpg" alt="Card image cap">
                  <img class="p-2 rounded-circle" src="http://www.hillspet.ca/HillsPetUS/v1/portal/en/ca/cat-care/healthcare/images/seniorCatBrainAging.jpg" alt="Card image cap">
                </div>
                <hr>
                <a href="/users" class="btn btn-secondary">View All Aliens</a>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="card-body">
                <p class="card-text" style="font-size: 12px;">By accessing or using the Nana World website, the Nana World service, or any applications (including mobile applications) made available by Nana World (together, the “Service”), however, accessed, you agree to be bound by these terms of use (“Terms of Use”). The Service is owned or controlled by Nana World, LLC (“Nana World”). These Terms of Use affect your legal rights and obligations. If you do not agree to be bound by all of these Terms of Use, do not access or use the Service.</p>
              </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <div class="card-body">
                <div class="container" style="font-size: 14px;">
                  <div class="row">
                    <div class="col-lg-6 p-3">
                      <h5>Corporate Headquarters</h5>
                      <p>Corporate Headquarters</p>
                      <p>Nana World 1606</p>
                      <p>1979 San Love Ave., Suite 1-2-3</p>
                      <p>Lakerainbow, NA 50317</p>
                    </div>
                    <div class="col-lg-6 p-3">
                      <h5>General Contact</h5>
                      <p>Toll-Free: 123-968-4353</p>
                      <p>Phone: 123-321-5505</p>
                      <p>Fax: 123-367-2313 </p>
                      <p>Email: office@nanaworld.com</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 p-3">
                      <h5>Sales Info & Inquiries</h5>
                      <p>Toll-Free: 600-858-8776</p>
                      <p>Email: info@nanaworld.com</p>
                    </div>
                    <div class="col-lg-6 p-3">
                      <h5>International Contact</h5>
                      <p>Email: international@nanaworld.com</p>
                      <p>Phone: 123-987-3949</p>
                      <p>Schedule: Monday - Thursday 1:15 AM to 10:30 PM ET</p>
                      <p>Friday 7:30 AM to 10:30 PM ET</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card text-center">
          <img class="card-img-top" src="https://www.worldsbestcatlitter.com/clearing-the-air/wp-content/uploads/2017/05/1-hello-300x300.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Nana Cinta</h4>
            <q class="card-text" style="font-size: 14px;">I Love You so much Alaa, FOREVER. You are my perfect creature!</q>
            <hr>
            <p><strong>-creator-</strong></p>
          </div>
        </div>
      </div>

    </div>
  </div>