<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center p-4">
          <h1>NANA WORLD</h1>
          <p>Something to explore all of your imaginations.</p>
          <hr class="my-4">
        </div>      
      </div>
    </div>
  </div>