<!DOCTYPE html>
<html lang="en">
 
<% include template/head.ejs %>

<body>

<% include template/navbar.ejs %>

  <main role="main"> 

  <% include content/webtitle.ejs %>  

  <% include content/users_content.ejs %>    

  </main><!-- main index -->

<% include template/jscript.ejs %>

</body>
</html>
